* {
    margin: 0;
    padding: 0;
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #606060;
}
.bold {
    color: #303030;
}
.fright {
    float: right;
}
html,#app,.main {
    height:100%;
    /* overflow: auto; */
}
body {
    width: 100%;
    background: #FDFDFD;
    font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    color: #606060;
    font-weight: 400;
    font-size: 14px;
}
h1 {
    font-weight: 300;
}
.sidebar {
    position: fixed;
    width: 228px;
    height: 100%;
    top:0;
    bottom:0;
    background: #F5F7FA;
    border-right: solid 1px #D2D9E3;
    transition: width 0.15s linear;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
}

.sidebar *{
    transition: width 0.15s linear;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
}
.sidebar.folded {
    width: 80px;
    overflow: hidden;
}
.sidebar.folded .sidebar-top {
    display: block;
    width: 52px;
}
.sidebar.folded .logo {
    background-image: url('../images/logo-small.svg');
    background-repeat: no-repeat;
}

.sidebar.folded li {
    /* width:22px; */
    padding-left: 25px;
}
.sidebar.folded li span.text-span {
    /* display: none; */
    color: rgba(96, 96, 96, 0);
}
.sidebar.folded li.actived span.text-span {
    /* display: none; */
    color: rgba(96, 96, 96, 0);
}

.sidebar.folded .line {
    width:22px;
    margin: 16px 25px;
}
.sidebar.folded li.open+.line {
    width:22px;
    margin-top: 92px;
}
.sidebar .sidebar-top {
    display: block;
    width: 160px;
    padding: 30px 10px 0px;
    margin-bottom: 48px;
}

.sidebar .logo {
    width:160px;
    height:50px;
    background-image: url('../images/logo-big.svg');
    background-repeat: no-repeat;
    transition: background-image 0.15s linear;
    -webkit-transition: background-image 0.15s linear;
    -moz-transition: background-image 0.15s linear;
    -o-transition: background-image 0.15s linear;
    -ms-transition: background-image 0.15s linear;
}

.sidebar-menu{
    transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
}

.sidebar .sidebar-menu li {
    position: relative;
    height: 45px;
    line-height: 45px;
    padding: 0px 28px;
    letter-spacing: 0.21px;
    color: #909090;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sidebar .sidebar-menu li:first-child {
    margin: 0;
}
.sidebar.folded .sidebar-menu li {
    padding-left: 25px;
}





.sidebar .sidebar-menu li.actived {
    background: rgba(10,169,241,0.10);
}
.sidebar .sidebar-menu li.actived span {
    color: #303030;
}
.sidebar .sidebar-menu li.actived:before {
    content: '';
    display: inline-block;
    position: absolute;
    top:0;
    left:0;
    width: 4px;
    height: 45px;
    background: #0AA9F1;
}

.sidebar .sidebar-menu ul li:hover {
    background: rgba(10,169,241,0.10);
}


/*图标*/
.sidebar-icon {
    display: inline-block;
    font-size: 22px;
    color: #969FAC;
    margin-right: 10px;
}
.sidebar .sidebar-menu li:hover .sidebar-icon, li.actived .sidebar-icon  {
    color: #0AA9F1;
}








/*分隔线*/
.line {
    margin: 16px 30px 0;
    width: 120px;
    height: 1px;
    background: #D2D9E3;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}



/*底部*/
.sidebar .sidebar-bottom {
    position: absolute;
    width:227px;
    bottom: 0;
    left: 0;
    height: 40px;
    border-top: solid 1px #E3E8F0;
    text-align: center;
    background: #F5F7FA;
}
.sidebar.folded .sidebar-bottom {
    width:80px;
}

/*折叠展开按钮*/
.toggle-fold {
    /* width: 100px; */
    height:20px;
    line-height: 20px;
    padding: 10px 40px;
    cursor: pointer;
}
.sidebar.folded .toggle-fold {
    width:20px;
    height:20px;
    padding:10px 26px;
}
.toggle-fold span:first-child{
    float: left;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/stuff.svg");
}
.sidebar.folded .toggle-fold span:first-child{
    background-image: url("../images/spread.svg");
}
.sidebar .toggle-fold span.text-span
{
    float: left;
    display: inline-block;
    color: #909090;
    letter-spacing: 0.21px;
    height:20px;
    line-height: 20px;
    font-size:14px;
}
.sidebar.folded .toggle-fold .text-span {
    display: none;
}

/*三级菜单-侧边栏*/
.sub-sidebar {
    position: absolute;
    width: 238px;
    height: auto;
    top: 56px;
    left:1px;
    bottom: 0;
    border-right: solid 1px #D2D9E3;
    background: #fff;
    z-index: 1;
    position: fixed;
    left: 229px;
}
.sidebar.folded + .main .sub-sidebar {
    left: 81px;
}
.sub-sidebar.hidden {
    width: 0;
    padding: 0;
    overflow: hidden;
    border: none;
}
.sub-sidebar.hidden + .content {
    left:0;
}

.sub-sidebar-li {
    margin-top: 26px;
    line-height: 14px;
    color: #909090;
    letter-spacing: 0px;
    font-size: 14px;
    padding-bottom: 9px;
    border-bottom: solid 1px transparent;
}

.sub-sidebar .sub-sidebar-title {
    color: #303030;
    font-size: 16px;
    line-height: 21px;
    padding: 40px;
    max-width: 158px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sub-sidebar-menu {
    padding: 0px 40px 40px;
    margin-top: 40px;
}

.sub-sidebar ul li {
    cursor: pointer;
}
.sub-sidebar ul li.selected {
    border-bottom: solid 1px  rgb(10,169,241,0.6);
    color: #0AA9F1;
}
p.toggle-menu {
    margin: 14px 10px 0;
    text-align: left;
    padding-left: 15px;
    position: relative;
    height: 32px;
    line-height: 32px;
}
p.toggle-menu.close ~ ul {
    display: none;
}


/*二级菜单箭头*/
.icon-toggle {
    vertical-align: middle;
    display: inline-block;
    width: 16px;
    height: 16px;
    top: 8px;
    position: absolute;
}
.icon-toggle:before {
    position: absolute;
    top: 5px;
    left: 1px;
    content: '';
    display: inline-block;
    width: 14px;
    transform: rotate(0deg);
    height: 6px;
    background: url("../images/arrow-up.svg");
    transition: all 0.15s;
}

p.toggle-menu.close .icon-toggle:before {
    transform: rotate(180deg);
}

.sub-sidebar-submenu {
    margin-top: 14px;
    height:auto;
    /*opacity: 1;*/
    transition: all 0.15s;
}
.sub-sidebar-submenu li {
    height:40px;
    padding-left: 52px;
    line-height: 40px;
    color: #606060;
    font-size: 14px;


}








/*右侧主体*/
.nav-text {
    font-size:12px;
    letter-spacing: 0.18px;
    line-height: 17px;
}
.text-blue {
    color: #0AA9F1;
}
.text-gray {
    color: #909090;
}
.nav-text.text-blue .el-breadcrumb__item__inner{
    text-decoration: underline;
    color: #0AA9F1;
}
.main {
    position: relative;
    height: 100%;
    margin-left:468px;
    margin-top: 56px;    
    -webkit-transition: margin-left 0.15s;
}
.sidebar.folded + .main {
    margin-left: 320px;
}
.sidebar.folded + .main .nav {
    left: 81px;
}
#main {
    position: fixed;    
    height: calc(100% - 56px);
    display: block;
    width: auto;
    position: relative;
}
.main .nav {
    min-width: 350px;
    height:56px;
    line-height:56px;
    border-bottom: solid 1px #D2D9E3;
    padding:0 36px;
    clear: both;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 229px;
    z-index: 30;
    background-color: #fff;
    transition: margin-left 0.15s;
}
.main .nav .nav-icon {
    margin-right: 9px;
    line-height: 33px;
    height: 27px;
    width: 18px;
    display: inline-block;
    vertical-align: middle;
}
.main .nav .nav-icon img{
    width: 18px;
    height: 18px;
}
.main .nav .el-breadcrumb {
    display: inline-block;
    vertical-align: middle;
}
.avatar-wrap {
    display: flex;
    line-height: 34px;
    flex-direction: row;
    align-items: center;
}
.avatar-wrap span {
    font-size: 14px;
    color: #606060;
    letter-spacing: 0.21px;
    line-height: 14px;
    margin-right: 10px;
}
.main .nav .el-dropdown {
    line-height: 34px;
}
.main .nav .el-dropdown .el-dropdown-link {
    width: 34px;
    height: 34px;
    display: inline-block;
    margin-top: 11px;
}
.main .nav .el-dropdown .el-dropdown-link .el-badge {
    top: 8px;
    width: 34px;
    height: 34px;
    display: inline-block;
    background: transparent;
}
.main .nav .el-badge__content.is-dot {
    background: #F77181;
    border: none;
    right: 6px;
    top: -4px;
}
.main .nav .el-badge__content.is-dot.is-fixed {
    right: 6px;
}
.main .nav .user-menu {
    float: right;
    display: inline-block;
    width:34px;
    height:34px;
    border-bottom: none;
    cursor: pointer;
}
.main .nav .user-menu img {
    width: 34px;
    height: 34px;
}
 .el-dropdown-menu {
    display: block;
    width:170px;
    height:276px;
    border: solid 1px #D2D9E3;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 #B5C1D4;
    padding:14px 4px 6px;
}
.el-dropdown-menu:before {
    position: absolute;
    top: -8px;
    right: 12px;
    content: '';
    width:0;
    height:0;
    overflow: hidden;
    border-width: 4px;
    border-color: transparent transparent #D2D9E3 transparent;
    border-style: dashed dashed solid dashed;
}
.el-dropdown-menu:after {
    position: absolute;
    top: -7px;
    right: 11px;
    content: '';
    width:0;
    height:0;
    overflow: hidden;
    border-width: 5px;
    border-color: transparent transparent #FFF transparent;
    border-style: dashed dashed solid dashed;
}
.el-dropdown-menu__item {
    position: relative;
    height:20px;
    line-height: 20px;
    padding:6px 0 8px 16px;
    margin-top: 0px;
}
.el-dropdown-menu__item:hover, .el-dropdown-menu__item:not(.is-disabled):hover {
    background: rgba(10,169,241,0.1);
    color: #0AA9F1;
}
.el-dropdown-menu__item:hover a, .el-dropdown-menu__item:not(.is-disabled):hover a {
    color: #0AA9F1;
}
.el-dropdown-menu__item:hover .icon-order {
    background-image: url("../images/user-dropdown-order-hover.svg");
}
.el-dropdown-menu__item:hover .icon-message {
    background-image: url("../images/user-dropdown-message-hover.svg");
}
.el-dropdown-menu__item:hover .icon-setting {
    background-image: url("../images/user-dropdown-setting-hover.svg");
}
.el-dropdown-menu__item:hover .icon-openapi{
    background-image: url("../images/user-dropdown-openapi-hover.svg");
}
.el-dropdown-menu__item:hover .icon-label {
    background-image: url("../images/user-dropdown-tags-hover.svg");
}
.el-dropdown-menu__item:hover .icon-exit {
    background-image: url("../images/user-dropdown-logout-hover.svg");
}

.dropdown-menu-top {
    font-size: 18px;
    color: #303030;
    letter-spacing: 0px;
    line-height: 25px;
    padding-top: 0;
    cursor: default;
}
.el-dropdown-menu__item.dropdown-menu-top:hover {
    background: transparent;
    color: #606060;
}
.line-menu {
    background: #DCE0E7;
    margin: 6px 15px 8px;
    width: auto;
}

/*下拉菜单menu-icon*/
.menu-icon {
    display: inline-block;
    width:16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top:50%;
    transform: translate(0,-50%);
}
.icon-order {
    background-image: url("../images/user-dropdown-order.svg");
}
.icon-message {
    background-image: url("../images/user-dropdown-message.svg");
}
.icon-setting {
    background-image: url("../images/user-dropdown-setting.svg");
}
.icon-openapi{
    background-image: url("../images/user-dropdown-openapi.svg");
}
.icon-label {
    background-image: url("../images/user-dropdown-tags.svg");
}
.icon-exit {
    background-image: url("../images/user-dropdown-logout.svg");
}
.el-dropdown-menu__item .el-badge {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translate(0,-50%);
    background: transparent;
}
.el-badge__content {
    width: 19px;
    height: 14px;
    border-radius: 94px;
    line-height: 14px;
    padding: 0;
    background: #F77181;
}
.main .content {
   height: 100%;
   padding: 30px 35px;
   background: #fdfdfd;
}

.userinfo-dropdown {
    height: auto;
}