.outermost{
	width: 100%;
	min-height: 100%;
	overflow-x:hidden; 
}
.s_bar{
	width: 60px;
    background: #0785DB;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 12px;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
}

.log{
	width:40px;
	height:40px;
	display:block;
	margin: 10px auto 30px;
}
.s_bar ul li{
	text-align: center;
	width: 60px;
	height: 60px;
}
.s_bar ul li a{
	color: #FFFFFF;
}
.s_bar ul li img{
	display: block;
	width: 24px;
	height: 24px;
	margin: 0 auto;
    padding:10px 0 5px 0;
}
.s_bar ul li:hover{
	background: rgba(255,255,255,0.20);
	opacity: 1;
}
.active{
	background: rgba(255,255,255,0.20);
	opacity: 1;
}
.silde_comp{
	position: fixed;
	margin-left:60px; 
	width: 180px;
	min-height: 100%;
	background: #FFFFFF;
    border: 1px solid #D8D8D8;
    z-index: 20;
}
.silde_comp_n{
	padding: 30px 11px 0 9px;
 
}
.c_title{
	font-size: 20px;
color: #4A4A4A;
letter-spacing: 0;
line-height: 20px;
text-indent: 26px;
margin-bottom:30px; 
position: relative;
cursor: pointer;
}
.c_title img{
    position: absolute;
    top: 1px;
    width: 20px;
    left: 1px;
    height: 20px;
}

.c_choose ul li{
   width: 160px;
   height: 30px;
   text-indent: 20px;
   font-size: 14px;
color: #4A4A4A;
letter-spacing: 0;
line-height: 30px;
margin-bottom:15px; 
cursor: pointer;
}
.c_choose ul li:hover{
	background: #0785DB;
    color: #FFFFFF;
}
.c_choose ul li.c_active{
	background: #0785DB;
    border: 1px solid #0785DB;
    border-radius: 2px;
    color: #FFFFFF;
}
.c_back{
    cursor: pointer;
    height: 58px;
    position: absolute;
    top: 362px;
    right: -19px;
}
.add_intance{
	background: #0785DB;
border-radius: 2px;
font-size: 14px;
color: #FFFFFF;
letter-spacing: 0;
line-height: 30px;
width: 110px;
height: 30px;
text-align: center;
margin: 10px 0;
cursor: pointer;
}
.add_intance_t{
	line-height: 30px;
width: 110px;
height: 30px;
text-align: center;
margin: 10px 0;
	font-size: 14px;
color: #0785DB;
letter-spacing: 0;
border: 1px solid #0785DB;
border-radius: 2px;
margin-left:10px;
cursor: pointer; 
}
.intance_list ul li{
	margin-top:20px; 
	padding:35px 20px 0 30px; 
	float: left;
	width: 273px;
	height: 201px;
	background: #FFFFFF;
border: 1px solid #D7D7D7;
box-shadow: 0 0 4px 0 rgba(0,0,0,0.10);
border-radius: 2px;
cursor: pointer;
}
.intance_list ul li:hover {
	border: 1px solid rgba(56,156,226,0.60);
    box-shadow: 0 0 4px 0 rgba(7,133,219,0.60)
}

.int_title{
	font-size: 16px;
color: #4A4A4A;
letter-spacing: 0;
line-height: 16px;
margin-bottom:30px; 
    font-weight: 600;
}
.intance_list ul li p{
	margin-bottom:12px; 
	overflow: hidden;
}
.intance_list ul li p label{
	font-size: 14px;
color: #4A4A4A;
letter-spacing: 0;
line-height: 14px;
    width: 25%;
    float: left;

}
.intance_list ul li p span{
    width: 65%;
    font-size: 14px;
color: #7A7A7A;
letter-spacing: 0;
line-height: 18px;
float: left;
}
.intance_list_to ul li{
 margin-top:20px; 
	padding:35px 30px 0 30px; 
	float: left;
	width: 330px;
	height: 201px;
	background: #FFFFFF;
border: 1px solid #D7D7D7;
box-shadow: 0 0 4px 0 rgba(0,0,0,0.10);
border-radius: 2px;
cursor: pointer;	
}
.intance_list_to ul li:hover{
    border: 1px solid rgba(56,156,226,0.60);
    box-shadow: 0 0 4px 0 rgba(7,133,219,0.60);
}
.intance_list_to ul li p{
	margin-bottom:12px; 
	overflow: hidden;
}
.intance_list_to ul li p label{
	font-size: 14px;
color: #4A4A4A;
letter-spacing: 0;
line-height: 14px;
    width: 25%;
    float: left;

}
.intance_list_to ul li p span{
    width: 65%;
    font-size: 14px;
color: #7A7A7A;
letter-spacing: 0;
line-height: 18px;
float: left;
}


.intance_co{
  margin-left:15px; 
}
.intance_co ul li{
	position: relative;
	float: left;
	margin-top:18px;
	margin-right:40px;  
	font-size: 14px;
color: #4A4A4A;
letter-spacing: 0;
line-height: 14px;
cursor: pointer;
}
.intance_co ul li.on{
	color: #0785DB;
}
.intance_co ul li.on:after{
	content: '';
    display: block;
    width: 75px;
    border-bottom: 3px solid #0785DB;
    position: absolute;
    bottom: -11px;
    left: -9px;
	} 

.silde_intance{
	font-size: 14px;
color: #4A4A4A;
letter-spacing: 0;
margin: 10px 0px 28px 10px;
}
.silde_choose ul li{
	width: 160px;
	height: 30px;
	margin-left:10px;
	margin-bottom:10px; 
	font-size: 14px;
color: #7A7A7A;
letter-spacing: 0;
line-height: 30px; 
 text-indent:20px; 
 cursor: pointer;
}
.silde_choose ul li:hover{
background: #CDE7F8;
}
.comp_s{
	background: url(../images/comp.svg) no-repeat;
	font-size: 14px;
color: #4A4A4A;
letter-spacing: 0;
line-height: 14px;
text-indent: 20px;
margin-left:55px; 
margin-top:100px; 
}


.setHeadImg{ height: 370px; padding:20px 70px; background: #F2F2F2; position: relative;}
.setHeadImg .imgCanvas{background: #E7E7E7;}
.setHeadImg .imgPreview{ height: 310px; background: none; padding: 15px 20px;}
.setHeadImg .imgPreview div{ border-radius: 0;}

.setStartImg{ height: 495px; padding:20px 180px; background: #F2F2F2;}
.setStartImg .StartImg{background: #E7E7E7;width: 100%; height: 100%; position: relative;}
.setStartImg-1{ background: rgba(255,255,255,0.80); border: 1px solid #E7E7E7;height: 535px; padding: 0 90px;}
.StartImg b{ position: absolute; top:0; left: 0; z-index: 1; width: 100%; height: 100%; display: block;background: rgba(249,249,249,0.80);}
.preview{ position: absolute; top:-33px; left: 600px;}
.previewBox{ width: 270px; height: 490px;background: #fff;border: 1px solid #E7E7E7; padding: 5px;}

i.questionIcon{ display: inline-block; width: 14px; height: 14px; background-position: -37px -29px; vertical-align: middle; cursor: pointer;}
.questionBox{position: absolute; top: 0; right: -500px; width: 380px; padding: 20px;background: #FFFFFF;border: 1px solid #D7D7D7; box-shadow: 0 0 4px 0 rgba(0,0,0,0.10); border-radius: 2px;transition:0.2s ease; z-index: 5;}
.questionBox img{ display: block;}

.editWrap{ width: 420px; padding: 20px 10px; border: 1px dashed #D7D7D7; border-radius: 2px;}
.editWrap p{ line-height: 30px;}
.editWrap p label{ width: 100px;}
.editWrap p input{ height: 30px; width: 240px;}
.editWrap p .color{ width:30px;}



.inp40{ height: 40px; line-height: 40px; font-size: 18px;}
.inp34{ height: 34px; line-height: 34px;}
.inp26{ height: 26px; line-height: 26px;}
.w1120{width:1120px;}
.uploadFile{ display: flex;align-items: flex-start; width: 410px; padding: 15px; border: 1px dashed #D7D7D7; border-radius: 2px;}

.imgUpload{ width: 260px; height: 70px; margin: 135px auto 0 auto;}
.StartImg .imgUpload{ margin: 175px auto 0 auto;}
.imgUpload a{ width: 94px; margin: 0 auto;}
.reset{ position: absolute; width: 340px; bottom: 115px; left: 50px;}
.reset-1{position: relative; bottom: 0; left: 0; width: 535px;}
.reset-2{ bottom: 20px; left: 20px; width: 340px;}
.reset a{ text-decoration: underline; color: #0785DB; line-height: 14px;}
.reset i{ width: 14px; height: 13px; margin-right:8px; background-position: 0 0;}

.imgPreview{padding: 25px 20px; width: 100px; height: 290px;background: #F9F9F9; overflow: hidden;}
.imgPreview img{ width: 100%; border-radius: 50%;}
.blockImg img{ border-radius:0;}
.imgPreview p{ text-align: center; color: #9A9A9A; margin-top: 10px;}
.bigImg{ width: 100px; height: 100px; border-radius: 50%; background: #E7E7E7; margin: 0 auto;}
.middleImg{ width: 50px; height: 50px; border-radius: 50%; background: #E7E7E7; margin: 20px auto 0 auto;}
.smallImg{ width: 30px; height: 30px; border-radius: 50%; background: #E7E7E7; margin: 20px auto 0 auto;}


.submitBtn{ width: 200px; height: 34px; margin:40px auto 0 auto; color: #fff; background: #399DE2; border: 1px solid #0785DB; border-radius: 2px; font-size: 14px;}
.submitBtn:active{ background: #0785DB;}
.item { float: left; width: 90px; height: 15px; line-height: 15px; text-indent: 22px; margin-top: 14px; text-align: left;
    display: inline-block; color: #4A4A4A;background: url("../images/icon.png") no-repeat; background-position: -37px 0; cursor: pointer;}
.active-2{background: url("../images/icon.png") no-repeat; background-position: -37px -14px;}
.icon,.searchBox button,.search i,.closeBox,.barNum i,.prompt i{ display: inline-block; background:url("../images/icon.png") no-repeat;}
.imgCanvas{ width: 340px; height: 340px; background: #F9F9F9; overflow: hidden;  position: relative;}
.imgCanvas b{ position: absolute; top:0; left: 0; z-index: 1; width: 100%; height: 100%; display: block;background: rgba(249,249,249,0.80);}
.contentView{ min-height: 142px;}
.contentView h6{font-size: 16px; text-align: center; height: 22px; line-height: 22px;}
.contentBox{ width: 100%;}
.contentBox .delete{display: none; position: absolute; top:0; right: 0; width: 46px; height: 26px; line-height: 26px; background: #D7D7D7; color: #fff; text-align: center;}
.contentBox .delete:hover{ color: #9B9B9B;}
.contentBox li{ position: relative; float: left; width: 310px; height: 220px; margin-top: 20px; background: #FFFFFF; padding: 35px 30px 0 30px;
    border: 1px solid #D7D7D7; box-shadow: 0 0 4px 0 rgba(0,0,0,0.10); border-radius: 2px; z-index: 5; cursor: pointer;}
.contentBox li:hover{border: 1px solid rgba(56,156,226,0.60); box-shadow: 0 0 4px 0 rgba(7,133,219,0.60);  }
.contentBox li:hover .delete{display: block;}
.applyList li {
    height: 180px;
}
.type{position: absolute; bottom: 0; right: 0; background-size: 100%;}
.ios{ background: url("../images/iOS.png") no-repeat; width: 58px; height: 55px; }
.android{ background: url("../images/Android.png") no-repeat; width: 68px; height: 54px; }
.h5{ background: url("../images/h5.png") no-repeat; width: 74px; height: 55px; }
.contentHead{ line-height: 22px;}
.contentHead h1{ max-width: 75%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.contentHead span{ display: block; height: 22px; padding: 0 5px; margin-left: 10px; text-align: center; color: #fff; border-radius: 4px;}
.contentHead i{ display: block; float: right; width: 16px; height: 10px; margin: 7px 5px 0 0; background: url("../images/icon-down.png") no-repeat; cursor: pointer;}
.contentHead i.up{background: url("../images/icon-up.png") no-repeat;}
.contentHead code{display: inline-block; width: 44px; height: 16px; background: #DE3B24; color: #fff; font-size: 12px; border-radius: 2px;line-height: 16px; text-align: center;margin-left: 15px;}
.contentMsg{ zoom:1}
.contentMsg:after {content:"\0020"; display: block; height: 0;clear: both; visibility: hidden; }

.describe{ color: #7A7A7A;line-height: 20px; overflow: hidden; text-overflow: ellipsis; word-break: break-all;}
.company{ color: #9B9B9B;line-height: 18px; overflow: hidden; text-overflow: ellipsis; word-break: break-all;}
.contentMsg p{width: 50%; float: left; margin-top: 10px; line-height: 14px;}
.contentMsg p label{ width: 28%; text-align: left; float: left;}
.contentMsg p span{ width: 72%; text-align: left; float: left; text-indent: 12px;}
.choice_t{position: relative;margin-top: 5px;width: 100%;  border:1px solid #D7D7D7; border-radius: 2px;background-color: #fff;}
.choice_act{color: #399DE2;}
.choice_t ul li{float: left; margin-left: 20px;vertical-align: center;font-size: 15px;line-height: 35px;cursor: pointer;}
.choice_t ul>:first-child{color: #4A4A4A;cursor: default;}
.choice_t ul li i{display: block; float: right; width: 8px; height: 8px; margin:15px 13px 0 -15px; background: url("../images/down_x.png") no-repeat; background-size: 100%;}
.choice_t ul li i.close_x{    display: block; float: right; width: 15px; height: 15px; margin: 10px 0px 0 1px; background: url("../images/close_x.png") no-repeat; background-size: 100%;}



/*遮罩层*/
.mask{ width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(104, 113, 119, 0.40); opacity: 0.8; z-index: 20;}
/*提示框*/
.tipBox{transform:translate(-50%,-50%); padding: 60px 140px; position: fixed; top: 50%; left: 50%; z-index: 60;background: #FFFFFF; border: 1px solid #D7D7D7; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20); border-radius: 2px;}
.much{padding: 40px 80px;}
/*弹框*/
.tips{transform:translate(-50%,-50%); width:600px; position: fixed; top: 50%; left: 50%; z-index: 50; background: #FFFFFF; border: 1px solid #D7D7D7; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20); border-radius: 2px;}
.tipsHead{ width: 100%; height: 40px; text-align: center; background: #F2F2F2; line-height: 40px;}
.closeBox{ position: absolute; top: 5px; right: 5px; width: 30px; height: 30px; display: block; background-position: -63px -173px;-ms-transition:0.2s ease;-webkit-transition:0.2s ease;-moz-transition:0s ease;-o-transition:0s ease;transition:0s ease;}
.closeBox:hover{ background-position: -94px -173px;}
.closeBox:active{ background-position: -123px -173px;}
.choiceFile{ display: block; margin: 0 auto 40px auto; width: 140px; height: 34px; line-height: 34px; text-align: center; border: 1px solid #399DE2; color: #399DE2; border-radius: 2px;}
.active-5{ color: #9A9A9A; border: 1px solid #9A9A9A; background: #fff;}





/*基本设置应用装配 */

.tipicon{
	padding:40px 60px 60px;
}
.tipiconlist{
	margin-top:10px;
}
.tipiconlist ul li{
	float: left;
	width: 40px;
	margin: 0 10px 20px;
	width: 40px;
	height: 50px;

}
.tipiconlist ul li img{
	width: 36px;
	height: 36px;
}
.tipiconlist ul li div{
	text-align: center;
}
.iconb{
	width: 3px;
	height: 15px;
	position: relative;
	background: #0FABFC;
	display: inline-block;
	top: 3px;
	left: -6px;
}
.iconactive{
	background: #D8D8D8;
	border: 1px solid rgba(15,171,252,0.40);
	box-shadow: 0 0 2px 0 #0FABFC;
}
.color_alert{
	top: 30px;
	right: 0px;
	width: 260px;
	height: 118px;
	position: absolute;
	background: #FFFFFF;
	z-index: 10;
	padding: 30px 50px;

}
.color_a{
	width: 60px;
	font-size: 15px;
	color: #7A7A7A;
}
.color_b{
	font-size: 17px;
	color: #AAAAAA;
	letter-spacing: 0.25px;

}
.preview_t {
	position: fixed;
	min-height: 100%;
	background: #FFFFFF;
}
.preview_img{
	position: fixed;
	width: 260px;
	top: 50px;
	right: 20px;
	display: block;
}

/*预览手机显示*/
.cgreen{
	position: fixed;
	background: #F9F9F9;
	width: 227px;
	height: 401px;
	top: 113px;
	right: 37px;
	z-index: 9;

}
.cgindex{
	text-align: center;
	color: #FFFFFF;
	padding-top: 20px;
	width: 229px;
	background: #0BAAFD;
	height: 30px;
}
.cgtop{
	width: 271px;
	background: #0BAAFD;
	height: 55px;
}
.cgtop img{
	width: 271px;
	margin-top:-10px;
}
.cgtab{
	background: #0BAAFD;
	width: 250px;
	border: 1px solid #FFFFFF;
	border-radius: 4px;
	margin: 0 auto;
	font-size: 13px;
	color: #FFFFFF;
}
.cgtab div{
	width: 130px;
	text-align: center;
	cursor: pointer;
}
.cgactive{
	background: #FFFFFF;
	color: #12ACFC;
}
.cgmenu{
	background: #FFFFFF;
	border-top: 1px solid #F9F9F9;
	height:60px;
	text-align: center;
	color: #929292;
	cursor: pointer;
}
.cgmenu img{
	margin-top:11px;
	width: 23.7px;
	height: 23.7px;

}
.cgmenu p{
	font-size: 12px;
	letter-spacing: 0.14px;
	line-height: 17px;
	margin-top:4.6px;
}
.menuactive{
	color: #3DBBFD;
}
.cgreen1{
	position: fixed;

	width: 227px;
	height: 401px;
	top: 113px;
	right: 57px;


	background: url(../images/phonebg.jpg) no-repeat;
	background-size: 100%;
	z-index: 9;
}
.show-icon{
	margin-top: 210px;
	margin-left: 144px;
}
.show-icon img{
	width: 45px;
	height: 45px;
	border-radius: 10px;
}
.show-icon p{
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	width: 40px;
}


.main{
	margin-left:60px;
}
.main_in{
	margin-left:240px;
}
.main_in{
	border-right: 1px solid #D8D8D8;
}
.main_in input{ width: 100%; height: 34px; line-height: 34px; background: #FFFFFF; border: 1px solid #D7D7D7; border-radius: 2px; text-indent: 8px; color: #4A4A4A;}
.main_in input:focus{box-shadow: 0 0 4px 0 #399DE2; border: 1px solid #399DE2; }
.main_in textarea{ width: 100%; height: 148px; padding-top:10px; text-indent: 10px;line-height: 20px; background: #FFFFFF; font-size: 14px; border: 1px solid #D7D7D7;border-radius: 2px;}
.main_in textarea:focus{box-shadow: 0 0 4px 0 #399DE2;border: 1px solid #399DE2; }
.compchoose ul li{
	float: left;
	margin-right:0px;
	margin-top:10px;
	padding:10px;
	cursor: pointer;
}
.compchoose ul li img{
	width: 180px;
	height: 274px;

}
.compchoose ul li div{
	text-align: center;
	line-height: 56px;
	font-size: 15px;
	color: #4A4A4A;

}
.compchoose ul li.active_w{
	background: #FFFFFF;
	border: 1px solid #399DE2;
	box-shadow: 0 0 4px 0 #399DE2;
	border-radius: 2px;
}
.set_up{
	margin:20px 0 30px 0px;
	font-size: 16px;
	color: #4A4A4A;
	letter-spacing: 0;
	line-height: 14px;
	background: url(../images/icon-up.png) no-repeat;
	background-position: 616px 3px;

}
.set_down{
	margin:20px 0 30px 0px;
	font-size: 16px;
	color: #4A4A4A;
	letter-spacing: 0;
	line-height: 14px;
	background: url(../images/icon-down.png) no-repeat;
	background-position: 616px 3px;

}
.colorset{
	font-size: 14px;
	color: #4A4A4A;
	letter-spacing: 0;
	line-height: 34px;
	margin-right:15px;
}
.colorshow{
	width: 34px;
	height: 34px;
	margin-left:30px;
	background: red;
}
.menu_w ul{
	width: 500px;
}
.menu_w ul li{
	float: left;
	width: 80px;
	height: 28px;
	font-size: 14px;
	line-height: 28px;
	color: #399DE2;
	letter-spacing: 0;
	text-align: center;
	background: #FFFFFF;
	border: 1px solid #399DE2;
	border-radius: 2px 0 0 2px;
	cursor: pointer;
}
.menu_w ul li.active_mue{
	background: #399DE2 ;
	color: #FFFFFF;
}
.menu_w ul li.add_mue{
	border: 1px dashed  #399DE2;
}
.m_edit{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 30px;
	font-size: 14px;
	line-height: 28px;
	color: #4A4A4A;
	letter-spacing: 0;
	display: block;
	cursor: pointer;
}
.m_edit-1{
	width: 65px;
	text-decoration: underline;
	color: #399DE2;
}
.menu_w-big ul{
	width: 400px;
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	justify-content: center;
	border-radius: 0 2px 2px 0;
}
.menu_w-big ul li{
	flex: 1;
	height: 32px;
	font-size: 14px;
	line-height: 32px;
	color: #399DE2;
	letter-spacing: 0;
	text-align: center;
	background: #FFFFFF;
	border: 1px solid #399DE2;
	border-radius: 2px 0 0 2px;
	cursor: pointer;
}
.menu_w-big ul li.active_mue{
	background: #4BABED ;
	color: #FFFFFF;
}
.imgchoose{
	width: 50px;
	height: 50px;
}
.btnchoose{
	background: #4BABED;
	border: 1px solid #0785DB;
	border-radius: 2px;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 14px;
	padding: 10px 30px;
	cursor: pointer;
	width: 56px;
}
.delect_t{
	background: #E7E7E7;
	line-height: 22px;
	padding: 0 10px;
}
.tablist{
	padding:0px 20px;
	border: 1px dashed  #D7D7D7;
	border-top: none;
}
.addtab{
	border: 1px dashed #399DE2;
	border-radius: 2px;
	line-height: 34px;
	text-align: center;font-size: 14px;
	color: #399DE2;
	letter-spacing: 0;
	cursor: pointer;

}
/*20173.3*/
.preview_title{
	position: fixed;
	font-size: 18px;
	color: #D7D7D7;
	letter-spacing: 0;
	text-align: center;
	top: 15px;
	right: 20px;
	width: 260px;
}
.preview_choose{
	position: fixed;
	width: 305px;
	height: 60px;
	background: rgba(7,133,219,0.05);
	bottom: 0px;
	right: 0px;

}
.preview_choose ul {
	padding-left: 50px;
}
.preview_choose ul li{
	float: left;
	border: 1px solid rgba(7,133,219,0.80);
	border-radius: 20px;
	padding:0 15px 0;
	margin:3px;
	font-size: 14px;
	letter-spacing: 0;
	height: 20px;
	line-height: 20px;
	color: #0785DB;
}
.preview_choose ul li.active_show{
	background: #0785DB;
	color: #FFFFFF;
}
.prompt_update{
	margin-bottom:30px;
	width: 160px;
	height: 70px;
	background: rgba(245,176,65,0.10);
	position: relative;
	right: 10px;
	border-top: 1px solid rgba(243,156,17,0.60);
	border-bottom: 1px solid rgba(243,156,17,0.60);
	padding:15px 10px;
}
.prompt_update div:first-child{
	font-size: 14px;
	line-height: 20px;
	color: #4A4A4A;
	letter-spacing: 0;
}
.prompt_update div:last-child{
	margin-top:12px;
	font-size: 12px;
	letter-spacing: 0;

}
.prompt_update div a{
	text-decoration: underline;
	color: #0785DB;
	margin-right:5px;
}
.c_backph{
	cursor: pointer;
	height: 58px;
	position: absolute;
	top: 362px;
	right: 0px;
}
.api_list{
	margin-left:22px;
	margin-bottom:10px;

}
.api_list a{
	display: block;
	line-height: 32px;
	font-size: 14px;
	color: #7A7A7A;
	position: relative;
}
a.active_ap{
	color: #0785DB;
}
a.active_ap:after{
	content: '';
	display: block;
	width: 134px;
	background: url(../images/lis.png) no-repeat;
	background-size: 100%;
	height: 10px;
	position: absolute;
	bottom: -6px;
	left: 50%;
	margin-left: -70px;
}
.api_list a:hover{
	color: #0785DB;
	cursor: pointer;
}

.ap_img{
	width: 50px;
	height: 30px;
	margin-top:-4px;
}
.atable table{
	width: 100%;
	border-collapse: collapse;
	border: 0px solid #FFFFFF;
}
.atable table td {
	font-size: 14px;
	color: #4A4A4A;
	letter-spacing: 0;
	word-break: break-all;
	padding: 5px;
	background: #F1F1F1;
	border-top: 0;
	border-right: 2px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
	border-left: 0;
}
.atable table tr.lastrow td {
	border-bottom: 0;
}
.atable table tr td.lastCol {
	border-right: 0;
}
.atable table tr td.lastCol table{
	margin:10px;
	width: 395px;
	text-align: left;
}
.atable table tr td.lastCol table tr td{
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #CBCBCB;
	font-size: 14px;
	color: #4A4A4A;
	letter-spacing: 0;
	padding-left: 20px;
	vertical-align: top;
	min-width: 95px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.atable table tr td.lastCol table tr.lastrow td{
	border-bottom: 0;
	color: #7A7A7A;
}
.sharechannel{
	margin: 15px;
	line-height: 34px;
}
.shselect{
	margin-top:5px;
	width: 23px;
	height: 23px;
	margin-left:20px;
	margin-right: 40px;
	cursor: pointer;
}
.sharechannel input{ margin-right:12px;width: 400px; height: 34px; line-height: 34px; background: #FFFFFF; border: 1px solid #D7D7D7; border-radius: 2px; text-indent: 8px; color: #4A4A4A;}
.sharechannel input:focus{box-shadow: 0 0 4px 0 #399DE2; border: 1px solid #399DE2; }
.sharechannel textarea{ width: 720px; height: 100px; padding-top:10px; text-indent: 10px;line-height: 20px; background: #FFFFFF; font-size: 14px; border: 1px solid #D7D7D7;border-radius: 2px;}
.sharechannel textarea:focus{box-shadow: 0 0 4px 0 #399DE2;border: 1px solid #399DE2; }
.shgo{
	text-decoration: underline;
	cursor: pointer;
}
.shselect2{
	width: 51px;
	height: 31px;
	margin-left: 20px;
	margin-right: 12px;
	cursor: pointer;
}
.c_choose{
	height: 540px;
	overflow-y:scroll;
	overflow-x:hidden;
}
/* 设置滚动条的样式 */

::-webkit-scrollbar {
	width: 5px;
	height: 10px;
	/*display: none;*/
}

::-webkit-scrollbar-button:vertical {
	display: none
}

::-webkit-scrollbar-track:vertical {
	background-color: #000
}

::-webkit-scrollbar-track-piece {
	background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb:vertical {
	margin-right: 10px;
	background-color: #A6A6A6
}

::-webkit-scrollbar-thumb:vertical:hover {
	background-color: #aaa
}

::-webkit-scrollbar-corner:vertical {
	background-color: #535353
}

::-webkit-scrollbar-resizer:vertical {
	background-color: #FF6E00
}

::-webkit-scrollbar-thumb {
	border-radius: 5px
}
/*仪表盘*/
.dashcom{
	border:1px solid #9a9a9a;
	border-radius:2px;
	width:98px;
	height:28px;
	text-indent: 10px;
	margin-top:10px;
	line-height: 28px;
	margin-left:40px;
	cursor: pointer;
}
.dashcom:hover{
	border:1px solid #399de2;
}
.dashcom_down{
	background: url(../images/ddown.png) no-repeat;
	width: 10px;
	height: 9px;
	float: right;
	margin: 10px;
	background-size: 100%;
}
.dashcom_top{
	background: url(../images/dtop.png) no-repeat;
	width: 10px;
	height: 9px;
	float: right;
	margin: 10px;
	background-size: 100%;
}
.da_active{
	border:1px solid #399de2;
}
.show_comp{
	margin-top:10px;
	background:#ffffff;
	border:1px solid #d8d8d8;
	border-radius:2px;
	width:1232px;

}
.show_comp ul li{
	float: left;
	margin-left:30px;
	font-size:14px;
	color:#7a7a7a;
	letter-spacing:0;
	text-align:justify;
	line-height: 48px;
	cursor: pointer;
}
.show_comp ul li.com_active{
	color:#0785db;
	text-decoration: underline;
}
.show_comp ul li:hover{
	color:#0785db;
}
.date_choose{
	padding-left:650px;
	height: 60px;
	font-size:16px;
	color:#4a4a4a;
	letter-spacing:0;
	text-align:left;
}
.date_choose div{
	padding:8px;
	cursor: pointer;
	height: 16px;
	line-height: 16px;
	margin-top:15px;

}
.date_choose div:hover{
	background:#399de2;
	border-radius:2px;
	color: #FFFFFF;
}
.date_choose div.date_active{
	background:#399de2;
	border-radius:2px;
	color: #FFFFFF;
}
.date_choose input{
	border:1px solid #399de2;
	border-radius:100px;
	width:98px;
	height:28px;
	margin-top:15px;
	text-align: center;
}
.date_choose span{
	margin: 20px 10px 0;
}
.dash_main{
	background:#FFFFFF;
	width: 1232px;
	border:1px solid #d8d8d8;
}
.trend{
	width: 90px;
	height: 16px;
	padding: 20px 0;
	font-size:16px;
	color:#4a4a4a;
	letter-spacing:0;
	line-height:16px;
	text-align:left;
	position: relative;
}
.trend_icon{
	background:url(../images/trend.png) no-repeat;
	background-size: 100%;
	width: 16px;
	height: 16px;
	float: right;
	cursor: pointer;
}
.trend_show{
	font-size:11px;
	color:#ffffff;
	letter-spacing:0;
	line-height:18px;
	text-align:justify;
	background: #afafaf;
	border-radius:8px;
	width: 139px;
	height: 198px;
	padding: 14px 11px;
	position: absolute;
	top: 22px;
	left: 100px;
	z-index: 100;
}
.trend_i{
	background: #ffffff;
	width: 4px;
	height: 4px;
	border-radius: 100%;
	float: left;
	margin-top: 8px;
	margin-left: -10px;
}
.trend_show ul li{
	margin-left:6px;
}
.dash_box ul li{
	width:178px;
	height:99px;
	margin-right: 39px;
	padding: 20px 30px;
	border:1px solid #d7d7d7;
	box-shadow:0 0 6px 0 rgba(0,0,0,0.04);
	border-radius:2px;
	float: left;
	position: relative;
	cursor: pointer;
}

.dash_box ul li div img{
	width: 30px;
	height: 30px;
	margin-bottom:5px;
}
.dash_box ul li.dash_active{
	border:1px solid #399de2;
	box-shadow:0 0 6px 0 #0785db;
	border-radius:2px;
}
.dash_box ul li:hover{
	border:1px solid #399de2;
	box-shadow:0 0 6px 0 #0785db;
	border-radius:2px;
}
.dash_box ul li:hover:after{
	content: '';
	display: block;
	background: url(../images/down_d.png) no-repeat;
	background-size: 100%;
	width: 26px;
	height: 22px;
	position: absolute;
	top: 138px;
	margin-left: -13px;
	left: 50%;
}
.dash_box ul li.dash_active:after{
	content: '';
	display: block;
	background: url(../images/down_d.png) no-repeat;
	background-size: 100%;
	width: 26px;
	height: 22px;
	position: absolute;
	top: 138px;
	margin-left: -13px;
	left: 50%;
}

.trend_time{
	border:1px solid #d8d8d8;
	border-radius:2px;
	width:1075px;
	height:386px;

}
.trend_tm ul li{
	float: left;
	height: 28px;
	width: 46px;
	border:1px solid #399de2;
	text-align: center;
	font-size:14px;
	color:#399de2;
	letter-spacing:0;
	cursor: pointer;
	line-height: 28px;
}
.trend_tm ul li:hover{
	background:#399de2;
	color: #FFFFFF;
}
.trend_tm ul li.trend_tactive{
	background:#399de2;
	color: #FFFFFF;
}
.trend_top{
	margin-top:20px;
	margin-left:424px;
	height: 30px;
	line-height: 30px;

}
.line_blue{
	height: 2px;
	width: 34px;
	background-color: #399de2;
	margin-top:14px;
	margin-right:10px;
}
.line_x{
	height: 1px;
	width: 34px;
	line-height: 30px;
	border-bottom: 1px dashed #D7D7D7;
	margin-top:14px;
	margin-right:10px;
	margin-left:30px;
}
.trend_open{
	background: url(../images/openmx.png) no-repeat;
	background-size: 100%;
	width: 10px;
	height: 10px;
	float: right;
	cursor: pointer;
	margin-top: 7px;
	margin-right: 25px;
}
.trend_down{
	background: url(../images/dtop.png) no-repeat;
	background-size: 100%;
	width: 10px;
	height: 10px;
	float: right;
	cursor: pointer;
	margin-top: 7px;
	margin-right: 25px;
}
.historyNumt{ right: 95px; top: 15px; width: 100px; text-align: right; cursor: pointer;}
.historyNumt i{ display: inline-block; background: url("../images/icon-down.png") no-repeat; width: 8px; height: 5px; background-size: 100%; margin-left: 5px;}
.historyNumt:hover ul{display: block}
.historyNumt ul{ display: none;position: absolute;width: 100px; height: 160px; background: #FFFFFF; border: 1px solid #E7E7E7; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10); border-radius: 2px; top: 30px; right: -15px;}
.historyNumt ul li{ width: 100%; height: 40px; text-align: center;}
.historyNumt ul li a{ display: block; height: 40px; line-height: 40px;}
.historyNumt ul li a:hover,
.historyNumt ul li.active-4 a{ color: #4A4A4A; background: #E7E7E7;}
/*表格*/
.tabletw{ width: 1158px; padding-left: 5%; table-layout: fixed;}
.tabletw a[href]:hover{color: #399DE2;}
.tabletw thead tr{border-bottom: 2px solid #D7D7D7; height: 65px;font-size:14px;color:#4a4a4a;font-weight: 600;}
.tabletw tbody td{padding-right: 20px;}
.tabletw thead td:first-child,
.tabletw tbody td:first-child{padding-left: 30px;}
.tabletw tbody tr{border-bottom: 1px solid #D7D7D7; height: 60px; color:#7A7A7A;word-break: break-all; word-wrap:break-word; padding-right: 5px;}
.tabletw tbody tr:hover{ background: #F2F2F2;}
.tabletw tbody tr a:hover{ text-decoration: underline;}
.tabletw tbody tr td input{ height: 30px; line-height: 30px; font-size: 14px; border: 1px solid #D7D7D7; text-indent: 4px;}
.tableEdit,
.tabletw tbody .tableEdit:hover{background: rgba(245,176,65,0.10); }
.td_icon{
	background: url(../images/td_icon.png) no-repeat;
	background-size: 100%;
	width: 10px;
	height: 12px;
	float: right;
	cursor: pointer;
	margin-top: -5px;
	margin-right: 55px;
}
.td_icon2{
	background: url(../images/td_icon.png) no-repeat;
	background-size: 100%;
	width: 10px;
	height: 12px;
	float: right;
	cursor: pointer;
	margin-top: 6px;
	margin-right: 55px;
}
.ra_top{
	background: url(../images/ra_top.png) no-repeat;
	background-size: 100%;
	width: 8px;
	height: 14px;
	float: right;
	cursor: pointer;
	margin-top: 3px;

}
.ra_down{
	background: url(../images/ra_down.png) no-repeat;
	background-size: 100%;
	width: 8px;
	height: 14px;
	float: right;
	cursor: pointer;
	margin-top: 3px;
}
.distrib{
	position: absolute;
	right: 215px;
	top:13px;
}
.distrib ul li{
	float: left;
	font-size:14px;
	color:#4a4a4a;
	letter-spacing:0;
	line-height:30px;
	text-align:justify;
	height: 30px;
	width: 75px;
	margin-left:30px;
	text-align: center;
	cursor: pointer;
	border:1px solid #FFFFFF;
}
.distrib ul li:hover{
	background:#399de2;
	border:1px solid #399de2;
	border-radius:2px;
	color: #FFFFFF;
}
.distrib ul li.distrib_active{
	background:#399de2;
	border:1px solid #399de2;
	border-radius:2px;
	color: #FFFFFF;
}
.event_active:hover{
	font-size:14px;
	color:#399de2;
	letter-spacing:0;
	line-height:14px;
	text-align:justify;
	text-decoration: underline;
	cursor: pointer;
}

.ne_securities ul li{
	border:1px solid #399de2;
	width:90px;
	height:28px;
	line-height: 28px;
	float: left;
	text-align: center;
	font-size:14px;
	color:#399de2;
	letter-spacing:0;
	cursor: pointer;
}
.ne_securities ul li:hover{
	background: #399de2;
	color: #FFFFFF;
}
.ne_securities ul li.ne_active{
	background: #399de2;
	color: #FFFFFF;
}
.event_name{
	margin-left:80px;
	margin-right:80px;
}
.event_name input{ width: 100%; height: 34px; line-height: 34px; background: #FFFFFF; border: 1px solid #D7D7D7; border-radius: 2px; text-indent: 8px; color: #4A4A4A;}
.event_name input:focus{box-shadow: 0 0 4px 0 #399DE2; border: 1px solid #399DE2; }
.event_icon{
	width: 14px;
	height: 14px;
	background: url(../images/info.png) no-repeat;
	background-size: 100%;
	float: left;
	margin-top: 5px;
	margin-right: 8px;
}
.d_map{
	border:1px solid #d8d8d8;
	border-radius:2px;
	width:1154px;
	height:544px;
	clear: both;
}

.navPill{ width: 100%; height: 38px; border:1px solid #D7D7D7; border-radius: 2px;}
.navPill li{ float: left; background: #fff; text-align: center; height: 38px; line-height: 38px; padding: 0 30px; border-right: 1px solid #D7D7D7; cursor: pointer; }
.navPill li a{ color: #9A9A9A;}
.navPill li a:hover{ color: #7A7A7A;}
.navPill li.on-1 a{ color: #399DE2;}


.contentBox-big {
	margin: auto 0;
}

.contentBox-big .delete {
	display: none;
	position: absolute;
	top: 0;
	right: 54px;
	width: 46px;
	height: 26px;
	line-height: 26px;
	background: #D7D7D7;
	color: #fff;
	text-align: center;
}

.contentBox-big .delete:hover {
	color: #9B9B9B;
}

.contentBox-big .edit {
	display: none;
	position: absolute;
	top: 0;
	right: 0px;
	width: 46px;
	height: 26px;
	line-height: 26px;
	background: #D7D7D7;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

.contentBox-big .edit:hover {
	color: #9B9B9B;
	text-decoration: none;
}

.contentBox-big li {
	position: relative;
	width: 288px;
	height: 135px;
	/*min-height: 145px;*/
	/*  flex: 1; */
	background: #FFFFFF;
	padding: 20px;
	border: 1px solid #D7D7D7;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.10);
	border-radius: 2px;
	z-index: 5;
	cursor: pointer;
	margin: 20px 10px 0 10px;
}

.contentBox-big li:hover {
	border: 1px solid rgba(56, 156, 226, 0.60);
	box-shadow: 0 0 4px 0 rgba(7, 133, 219, 0.60);
}

.contentBox-big li:hover .delete {
	display: block;
}

.contentBox-big li:hover .edit {
	display: block;
}

.contentBox-big li .hover-show {
	display: none;
}

.contentBox-big li:hover .hover-show {
	display: block;
}

.contentBox-big li .hover-hide {
	display: block;
}

.contentBox-big li:hover .hover-hide {
	display: none;
}

.contentBox-big .bottom-menu {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 45px;
	background-color: #F2F9FD;
	display: flex;
	justify-content: center;
	border-top: 1px solid #C5DDED;
}
.flexwrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	/*min-width: 888px;*/
}
.bottom-menu-item {
	flex: 1;
	display: flex;
	justify-content: center;
	line-height: 45px;
	font-size: 14px;
	color: #0785DB;
	letter-spacing: 0;
	position: relative;
}

.bottom-menu-item img {
	display: inline-block;
}

.bottom-menu-item:hover img {
	display: none;
}

.bottom-menu-item span {
	display: none;
}

.bottom-menu-item:hover span {
	display: inline-block;
}

.bottom-menu-item:after {
	content: '|';
	position: absolute;
	left: 100%;
}

.bottom-menu-item:last-child::after {
	content: '';
}
.contentBox-big-big .describe{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.selectCon{ padding: 20px 30px 60px 30px;}
.congigCon{ padding: 60px 80px;}
.choiceWrap{ height: 265px; width: 102%; overflow-y: auto;}
.choiceCon{ width: 100%;}
.choiceCon li{ float: left; position: relative; width: 236px; height: 70px; margin-top:20px; background: #FFFFFF; padding: 20px 15px;
	border: 1px solid #D7D7D7; box-shadow: 0 0 4px 0 rgba(0,0,0,0.10); border-radius: 2px; z-index: 5; cursor: pointer;}
.choiceCon li:hover{border: 1px solid rgba(56,156,226,0.60); box-shadow: 0 0 4px 0 rgba(7,133,219,0.60);  }

.contentHead{ line-height: 22px;}
.contentHead h1{ max-width: 75%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.applyMsg{ width: 100%; margin-top: 10px; float: left;line-height: 18px;overflow: hidden; text-overflow: ellipsis;-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;display: -webkit-box;}

.set-default{ text-decoration: underline; cursor: pointer;}

.menu-box{ padding: 20px 30px; border: 1px dashed #D7D7D7; }
.menu-box label{ width: 50px; line-height: 32px; height: 32px; color: #4A4A4A; margin-right: 20px;}
.menu-tit{ width: 96px;}
.module{height: 32px; }
.module input{ width: 378px; height: 32px; background: #FFFFFF; border: 1px solid #D7D7D7; border-radius: 2px;}
.module button{ width: 80px; height: 32px; margin-left: 20px; border: 1px solid #0785DB; border-radius: 2px;}

.authority-box{}
.authority-box input{ width: 460px; height: 32px; background: #FFFFFF; border: 1px solid #D7D7D7; border-radius: 2px;}
.authority-box .item { width: 149px; height: 15px; line-height: 15px; text-indent: 22px; margin: 8px 40px 0 0; text-align: left;
	display: inline-block; color: #4A4A4A;background: url("../images/icon.png") no-repeat; background-position: -37px 0; cursor: pointer;}
.authority-box .on{background: url("../images/icon.png") no-repeat; background-position: -37px -14px;}
.authority-box button{width: 460px; height: 32px; line-height: 32px; color: #399de2; border: 1px dashed #399de2; text-align: center;}

.help{display: inline-block; position: relative; width: 14px; height: 14px; background: url("../images/wenhao.svg") no-repeat;cursor: pointer;}
.help em{ position: absolute; top: 14px; left: 14px; z-index: 99; width: 380px; padding: 30px 20px; color: #7a7a7a;background: #FFFFFF; border: 1px solid #D7D7D7; box-shadow: 0 0 4px 0 rgba(0,0,0,0.10); border-radius: 2px;}

.api-advance-toggle {
	width: 50px;
	height: 30px;
}

input.switch {
	display: none;
}

input.switch+span {
	width: 52px;
	height: 30px;
	position: relative;
	border: 1px solid #dfdfdf;
	background-color: #fdfdfd;
	border-radius: 20px;
	display: inline-block;
	user-select: none;
	outline: none;
	transition: all 0.3s ease;
	cursor: pointer;
}

input.switch+span:before {
	content: '';
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 15px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	transition: all 0.3s ease;
}

input.switch:checked+span {
	border-color: #64bd63;
	background-color: #64bd63;
}

input.switch:checked+span:before {
	left: 22px;
}

.model-list{display: flex; flex-flow: wrap;}
.model-list li{ position: relative; padding: 5px 15px; margin: 0 25px 25px 0; line-height: 20px; background: #FFFFFF; border: 1px solid #C5DDED; border-radius: 2px; cursor: pointer;}
.model-list li:hover{ box-shadow: 0 2px 4px 0 rgba(7,133,219,0.20);}
.model-list li:hover i{ display: block; position: absolute; top: -7px; right: -7px; width: 15px; height: 15px; background: url("../images/delete.svg"); cursor: pointer;}
.model-list .add-model{ padding: 5px 25px; color: #399de2; border: 1px dashed #399de2; text-align: center; cursor: pointer;}