
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
.row-item{
    flex: 1;
    display: inline-flex;
}
.align-items-center{
    align-items:center;
}
.flex-2{
    flex: 2;
}