<div id="detail" style="display:none;">
    <div class='title'><img src="images/app5.png" style="height:20px;width:20px;margin-top:10px;"><span
            style="position:absolute;font-size: 15px;">&nbsp;&nbsp;申购状态</span></div>
    <div class="content">
        <div class="common">
            <div class="fristDiv">中签公布日期</div>
            <div class="secondDiv">{{stock.allocation_date}}</div>
        </div>
        <div class="common" style="background-color:#f5f5f5;">
            <div class="fristDiv">冻结资金(元)</div>
            <div class="secondDiv">0.00</div>
        </div>
        <div class="common">
            <div class="fristDiv">资金冻结解冻日期</div>
            <div class="secondDiv">--</div>
        </div>
        <div class="common" style="background-color:#f5f5f5;">
            <div class="fristDiv">上市日期</div>
            <div class="secondDiv">--</div>
        </div>
        <div class="common">
            <div class="fristDiv">市盈率(%)</div>
            <div class="secondDiv" style="color:red;">{{stock.diluted_pe_ratio}}</div>
        </div>
    </div>


    <div class='title'><img src="images/app1.png" style="height:20px;width:20px;margin-top:10px;"><span
            style="position:absolute;font-size: 15px;">&nbsp;&nbsp;发行状态</span></div>
    <div class="content">


        <div class="common">
            <div class="fristDiv">股票名称</div>
            <div class="secondDiv" style="color:#27a4f3;">
                <span >{{stock.prod_name}}</span>(<span >{{stock.stock_code}}</span>)
            </div>
        </div>
        <div class="common" style="background-color:#f5f5f5;">
            <div class="fristDiv">申购代码</div>
            <div class="secondDiv" >{{stock.prod_code}}</div>
        </div>
        <div class="common">
            <div class="fristDiv">申购日期</div>
            <div class="secondDiv"  style="color:red;">{{stock.distribution_date}}</div>
        </div>
        <div class="common" style="background-color:#f5f5f5;">
            <div class="fristDiv">发行价格(元)</div>
            <div class="secondDiv" >{{+stock.issue_price}}</div>
        </div>
        <div class="common">
            <div class="fristDiv">发行总量(万股)</div>
            <div class="secondDiv" >{{stock.issue_amount}}</div>
        </div>
        <div class="common" style="background-color:#f5f5f5;">
            <div class="fristDiv">市盈率(%)</div>
            <div class="secondDiv" >{{+stock.diluted_pe_ratio}}</div>
        </div>
        <div class="common">
            <div class="fristDiv">网上发行量(万股)</div>
            <div class="secondDiv" >{{+stock.issue_vol}}</div>
        </div>

        <div class="common" style="background-color:#f5f5f5;">
            <div class="fristDiv">申购上限(万股)</div>
            <div class="secondDiv" >{{stock.allot_max}}</div>
        </div>
        <div class="common">
            <div class="fristDiv">申购顶格(万股)</div>
            <div class="secondDiv">--</div>
        </div>
        <div class="common" style="background-color:#f5f5f5;">
            <div class="fristDiv">上市地点</div>
            <div class="secondDiv" >{{stock.secu_market}}</div>
        </div>
        <div class="common">
            <div style="font-size:14px;color:#666666;display:inline-block;width:20%;">所属板块</div>
            <div class="secondDiv" style="width:76%;text-align:center;" >{{stock.indurstry}}</div>
        </div>
    </div>
    <div class='title'>
        <img src="images/app2.png" style="height:20px;width:20px;margin-top:10px;"><span
            style="position:absolute;font-size: 15px;">&nbsp;&nbsp;公司简介</span>
    </div>
    <p style="line-height: 28px; font-size: 12px; color: #444444; background-color: #ffffff;
    padding: 0 3%;padding-bottom:20px;"
       class="gsjj">{{stock.brief_introduction}}</p>
    <br>
</div>
