<style>
    #start{
        background-image: url(images/start_bank.png);
      /* background-size: 95%; */
      background-position: center;
      background-repeat: no-repeat;
      background-size: 102%;
      background-color: #C5183B;
    }
</style>

<div id="start" style="display:none;height:100%;">
    <a href="#list" style="position: absolute;
  bottom: 15%;
  border: 1px solid #ffffff;
  text-align: center;
  width: 74%;
  height: 36px;
  border-radius: 16px;
  color: #ffffff;
  font-size: 18px;
  line-height: 34px;
  left: 13%;">马上体验</a>
</div>