// 文字
.text-label {
    font-size: 17px;
    color: #4A4A4A;
    letter-spacing: 0.25px;
    line-height: 17px;
    float: left;
}
.text-sub {
    font-size: 15px;
    color: #7A7A7A;
    letter-spacing: 0.22px;
    line-height: 15px;
}
.text-link {
    font-size: 15px;
    color: #0FABFC;
    text-decoration: underline;
    line-height: 21px;
}

.cell {
    padding: 12px 10px 12px 15px;
    background: #ffffff;
    height: 17px;
    clear: both;
    display: flex;
    justify-content: space-between;
}
.inline-b {
    display: inline-block;
}
.line-left {
    margin-left: 15px;
}
.btn-blue {
    width: 345px;
    height: 44px;
    padding: 10px 0;
    background: #399DE2;
    color: #ffffff;
    border: 1px solid rgba(0,0,0,0.10);
    border-radius: 4px;
    text-align: center;
}
.cell textarea {
    height: 100%;
}

