a{ text-decoration: none;}

.flex-row{ flex-direction: row; }
.flex-column{ flex-direction: column; }
.row-item{ flex: 1;display: inline-flex;}
.align-center{ align-items:center; }
.align-start{ align-items:flex-start; }
.align-end{ align-items:flex-end; }
.justify-between{ justify-content: space-between;}
.justify-around{ justify-content: space-around;}
.justify-center{ justify-content: center;}
.justify-start{ justify-content: flex-start;}
.justify-end{ justify-content: flex-end;}
.t-center{ text-align: center;}
.t-left{text-align: left;}
.t-right{text-align: right;}
.flex-1{ flex: 1; }
.flex-2{ flex: 2; }
.flex-3{ flex: 3; }
.flex-4{ flex: 4; }
.flex-5{ flex: 5; }
.flex-9{ flex: 9; }


.bgc-white{ background-color: #fff; }
.bgc-red{ background-color: #bf1015; }
.bgc-orange{ background-color: #ff9849;}
.bgc-blue{ background-color: #76a3da;}
.bgc-dark{ background-color: #f7f7f7;}

.c-red{ color: #bf1015;}
.c-green{ color: #6da645;}
.c-eee{ color: #eeeeee;}
.c-black{ color: #000;}
.c-gray{ color: #525252;}
.c-white{ color: #FFFFFF;}
.c-lightgray {color: #f7f1f1;}


.f-white{
    color: #ffffff;
}
.f-green {
    color: #5d9f3b;
}
.f-red {
    color: #f35151;
}
.f-black {
    color: #3a3a3a;
}
.f-dark {
    color: #9a9a9a;
}
.f-dark2{
    color: #cecdcd;
}
.f-blue{
    color: #6da6e7;
}
.f-orange{
    color: #ff9933;
}
.f-lightgray {
    color: #9a9a9a;
}
.f-lightgray-1 {
    color: #d9dade;
}
.f-bold {
    font-weight: bold;
.f-transparent{
    color: rgba(255,255,255,0.6);
}

.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
.mt60{margin-top: 60px;}

.ml10{margin-left: 10px;}
.ml20{margin-left: 20px;}
.ml30{margin-left: 30px;}
.ml40{margin-left: 40px;}

.mr10{ margin-right: 10px;}
.mr20{ margin-right: 20px;}
.mr30{ margin-right: 30px;}
.mr40{ margin-right: 40px;}
.mr80{ margin-right: 80px;}

.mb10{ margin-bottom: 10px;}
.mb20{ margin-bottom: 20px;}
.mb30{ margin-bottom: 30px;}
.mb40{ margin-bottom: 40px;}

.pt10{padding-top: 10px;}
.pt20{padding-top: 20px;}
.pt30{padding-top: 30px;}
.pt40{padding-top: 40px;}

.pb10{padding-bottom: 10px;}
.pb20{padding-bottom: 20px;}
.pb30{padding-bottom: 30px;}
.pb40{padding-bottom: 40px;}

.pl10{padding-left: 10px;}
.pl20{padding-left: 20px;}
.pl30{padding-left: 30px;}
.pl40{padding-left: 40px;}

.pr10{padding-right: 10px;}
.pr20{padding-right: 20px;}
.pr30{padding-right: 30px;}
.pr40{padding-right: 40px;}

.pd10{padding: 10px;}
.pd20{padding: 20px;}
.pd30{padding: 30px;}
.pd40{padding: 40px;}

.pos-r{ position: relative; }
.pos-a{ position: absolute; }
.pos-f{ position: fixed; }

.fs20{font-size: 20px;}
.fs22{font-size: 22px;}
.fs24{font-size: 24px;}
.fs26{font-size: 26px;}
.fs28{font-size: 28px;}
.fs30{font-size: 30px;}
.fs32{font-size: 32px;}
.fs34{font-size: 34px;}
.fs36{font-size: 36px;}
.fs38{font-size: 38px;}
.fs40{font-size: 40px;}
.fs44{font-size: 44px;}
.fs48{font-size: 48px;}
.fs72{font-size: 72px;}
.fs78{font-size: 78px;}
.lines1{ lines:1;}

.noborder {border: none;}

.opacity-8 { opacity: 0.8; }
.opacity-7 { opacity: 0.7; }
.opacity-5 { opacity: 0.5; }

.text-center {text-align: center;}
.text-justify {text-align: justify;}